<h1>Name of students</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th><p>Firstname</p></th>
      <th><p>Lastname</p></th>
      <th><p>Action</p></th>
    </tr>
  </thead>
  <tbody>
    <% @details.each do |detail| %>
    <tr>
      <td><%=detail.id%></td>
      <td><%=detail.Firstname%></td>
      <td><%=detail.Lastname%></td>
      <td><%= link_to 'Delete', detail_path(detail),  data: {confirm: 'Are you sure?'}, method: :delete %></td>
    </tr>
   <% end %>
  </tbody>

</table>
